<template>
  <div class="header-nav">
    <HeaderSiteSearch />
    <HeaderMainNav />
    <NuxtLink
      v-if="!authenticated"
      :to="localePath('/login')"
      class="cta-special btn--primary inline-flex"
    >
      <NuxtIcon name="user" class="lg:hidden" />
      <span class="hidden lg:block">Login</span>
    </NuxtLink>
    <button
      v-else
      class="cta-special btn--primary inline-flex"
      @click.prevent="signOut"
    >
      Logout
    </button>
    <HeaderSwitchLocale />
  </div>
</template>

<script setup>
const localePath = useLocalePath()
const { status, signOut } = useAuth()
const authenticated = status.value === 'authenticated'
</script>
