<template>
  <main id="main" role="main" class="site-main">
    <div class="container">
      <UtilsBreadCrumbs />
      <h1>{{ $t('service') }}</h1>
      <pre><code>{{ data }}</code></pre>
    </div>
  </main>
</template>

<script setup>
defineI18nRoute({
  paths: {
    id: '/layanan',
    en: '/services'
  }
})
definePageMeta({ middleware: 'auth' })
const route = useRoute()
console.log({ route: route.value })

// const data = await useFetchAuth('/articles')
</script>

<style lang="scss" scoped></style>
