<template>
  <div class="shadow rounded overflow-hidden flex justify-between mb-4">
    <div class="flex">
      <img :src="listing.url" alt="Listing Photo" class="w-80 mr-3 h-44" />
      <div class="p-3">
        <h1 class="text-2xl">
          {{ listing.name }}
        </h1>
        <p class="text-blue-400">${{ listing.price }}</p>
      </div>
    </div>
    <div class="p-3 flex">
      <NuxtLink
        v-if="locale === 'id'"
        class="text-blue-400 mr-4"
        :to="localePath('/profil/daftar/view/' + listing.id)"
      >
        View
      </NuxtLink>
      <NuxtLink
        v-else
        class="text-blue-400 mr-4"
        :to="localePath('/profile/listings/view/' + listing.id)"
      >
        View
      </NuxtLink>
      <p class="text-red-400 cursor-pointer">Delete</p>
    </div>
  </div>
</template>

<script setup>
defineProps({
  listing: {
    type: Object,
    default: null
  }
})

const localePath = useLocalePath()
const { locale } = useI18n()
</script>
