@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'partials/variables';
@import 'partials/resets';
@import 'partials/normalize';
@import 'partials/print';

@layer base {
  :root {
    --primary-color: rgb(255, 102, 0);
    --secondary-color: rgb(48, 152, 29);
  }

	/* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}

@layer components {
	@import 'modules/btn-tailwind';

	.form-input {
		@apply rounded-md;
	}

	.prose a {
		@apply text-primary-400 hover:text-primary-600;
	}

	@mixin ratio() {
		display: block;
		position: relative;
		overflow: hidden;
	}

	.ratio-16-9 {
		@include ratio();
		padding-bottom: calc(9/16) * 100%;
	}
}

html {
	font: 400 14px $base_font_family;
	line-height: $base_line_height;

	@media #{$medium} {
		font-size: $base_font_size;
	}
}

.container {
	width: 92%;
	max-width: 960px;
	margin: 0 auto;

	@media #{$medium} {
		width: 94%;
	}

	@media #{$extra_large} {
		max-width: 1280px;
	}
}

.container--small {
	max-width: 450px;

	@media #{$extra_large} {
		max-width: 450px;
	}
}

.site-main {
	padding: 3rem 0;
}
