<template>
  <div class="rounded shadow mt-20">
    <CarMessageCard />
    <CarMessageCard />
    <CarMessageCard />
    <CarMessageCard />
  </div>
</template>

<script setup>
definePageMeta({
  layout: 'custom'
})

defineI18nRoute({
  paths: {
    id: '/profil/daftar/view/:id',
    en: '/profile/listings/view/:id'
  }
})
</script>
