<template>
  <ul>
    <li v-for="(item, i) in props.items" :key="i" class="border rounded-lg">
      <NuxtLink :to="item.slug" class="rounded-t-lg ratio-16-9">
        <NuxtImg
          width="300"
          height="200"
          :src="item.image"
          loading="lazy"
          class="absolute w-full h-full top-0 left-0 object-cover hover:scale-105 transition-transform"
        />
      </NuxtLink>
      <div class="py-5 px-6">
        <time :datetime="$dayjs(item.date).utc().toString()" class="text-xs">
          {{ $dayjs(item.date).format('MMM DD, YYYY') }}
        </time>
        <NuxtLink
          :to="item.slug"
          class="font-bold text-lg inline-block hover:text-primary select-none mb-2"
        >
          {{ item.title }}
        </NuxtLink>
        <div>{{ item.description }}</div>
      </div>
    </li>
  </ul>
</template>

<script setup>
const props = defineProps({
  items: {
    type: Array,
    default: () => [],
  },
})
</script>
