<template>
  <main id="main" role="main" class="site-main">
    <div class="container">
      <UtilsBreadCrumbs />
      <h1>{{ $t('product') }}</h1>
    </div>
  </main>
</template>

<script setup>
defineI18nRoute({
  paths: {
    id: '/produk',
    en: '/product'
  }
})
definePageMeta({
  middleware: 'auth'
})
</script>
