<template>
  <div class="w-full mt-10">
    <h3 class="text-2xl font-semibold text-center">Vue3 Datepicker</h3>

    <div
      v-if="loading"
      class="my-4 rounded grid grid-cols-2 lg:grid-cols-3 place-items-center gap-4"
      :class="theme.darkTheme ? 'text-white' : 'text-black'"
    >
      <div
        v-for="index in 3"
        :key="index"
        class="w-full p-4 rounded-lg border-[2px] border-green-700"
        :class="theme.darkTheme ? 'bg-zinc-700' : ''"
      >
        <UtilsSkeletonLoading class="w-[20%]" />
        <UtilsSkeletonLoading class="w-[40%]" :pulse="true" />
        <UtilsSkeletonLoading class="w-full" />
      </div>
    </div>
    <div
      v-else
      class="my-4 rounded grid grid-cols-2 lg:grid-cols-3 place-items-center gap-4"
      :class="theme.darkTheme ? 'text-white' : 'text-black'"
    >
      <div
        class="w-full p-4 rounded-lg border-[2px] border-green-700"
        :class="theme.darkTheme ? 'bg-zinc-700' : ''"
      >
        <label for="single" class="font-bold">Default</label>
        <p class="mb-2">Default Vue 3 Datepicker</p>
        <VueDatePicker
          v-model="dateSingle"
          name="single"
          :dark="theme.darkTheme"
        />
      </div>
      <div
        class="w-full p-4 rounded-lg border-[2px] border-green-700"
        :class="theme.darkTheme ? 'bg-zinc-700' : ''"
      >
        <label for="range" class="font-bold">Range</label>
        <p class="mb-2">Select date in range</p>
        <VueDatePicker
          v-model="dateRange"
          name="range"
          format="dd MMMM yyyy"
          model-type="dd MMMM yyyy"
          range
          :dark="theme.darkTheme"
        />
      </div>
      <div
        class="w-full p-4 rounded-lg border-[2px] border-green-700"
        :class="theme.darkTheme ? 'bg-zinc-700' : ''"
      >
        <label for="range-multi" class="font-bold">Range Multicalendar</label>
        <p class="mb-2">Select date in range with multi calendar</p>
        <VueDatePicker
          v-model="dateMultipleCal"
          name="range-multi"
          range
          multi-calendars
          :dark="theme.darkTheme"
        />
      </div>
      <div
        class="w-full p-4 rounded-lg border-[2px] border-green-700"
        :class="theme.darkTheme ? 'bg-zinc-700' : ''"
      >
        <label for="auto-apply" class="font-bold">Close when select Date</label>
        <p class="mb-2">Close on select</p>
        <VueDatePicker
          v-model="dateOnSelect"
          name="auto-apply"
          auto-apply
          :dark="theme.darkTheme"
        />
      </div>
      <div
        class="w-full p-4 rounded-lg border-[2px] border-green-700"
        :class="theme.darkTheme ? 'bg-zinc-700' : ''"
      >
        <label for="no-time" class="font-bold">Without time</label>
        <p class="mb-2">Pick date without time</p>
        <VueDatePicker
          v-model="dateOnly"
          name="no-time"
          format="dd MMMM yyyy"
          model-type="dd-MM-yyyy"
          locale="id"
          auto-apply
          :enable-time-picker="false"
          :dark="theme.darkTheme"
        />
      </div>
      <div
        class="w-full p-4 rounded-lg border-[2px] border-green-700"
        :class="theme.darkTheme ? 'bg-zinc-700' : ''"
      >
        <label for="time" class="font-bold">Time only</label>
        <p class="mb-2">Pick time only</p>
        <VueDatePicker
          v-model="time"
          name="time"
          auto-apply
          time-picker
          :dark="theme.darkTheme"
        />
      </div>
      <div
        class="w-full p-4 rounded-lg border-[2px] border-green-700"
        :class="theme.darkTheme ? 'bg-zinc-700' : ''"
      >
        <label for="month" class="font-bold">Month picker</label>
        <p class="mb-2">Pick month only</p>
        <VueDatePicker
          v-model="month"
          name="month"
          auto-apply
          month-picker
          :dark="theme.darkTheme"
        />
      </div>
      <div
        class="w-full p-4 rounded-lg border-[2px] border-green-700"
        :class="theme.darkTheme ? 'bg-zinc-700' : ''"
      >
        <label for="multi-dates" class="font-bold">Multi dates</label>
        <p class="mb-2">Pick more than one date</p>
        <VueDatePicker
          v-model="multiDates"
          name="multi-dates"
          auto-apply
          :close-on-auto-apply="false"
          :enable-time-picker="false"
          multi-dates
          :dark="theme.darkTheme"
        />
      </div>
      <div
        class="w-full p-4 rounded-lg border-[2px] border-green-700"
        :class="theme.darkTheme ? 'bg-zinc-700' : ''"
      >
        <label for="flow" class="font-bold">Flow</label>
        <p class="mb-2">Pick date with flow</p>
        <VueDatePicker
          v-model="flowDate"
          name="flow"
          auto-apply
          :enable-time-picker="false"
          :flow="flow"
          :dark="theme.darkTheme"
        />
      </div>
      <div
        class="w-full p-4 rounded-lg border-[2px] border-green-700"
        :class="theme.darkTheme ? 'bg-zinc-700' : ''"
      >
        <label for="change-lang" class="font-bold">Language: ID</label>
        <p class="mb-2">Change language to ID</p>
        <VueDatePicker
          v-model="dateID"
          name="change-lang"
          format="dd MMMM yyyy"
          model-type="dd-MM-yyyy"
          locale="id"
          :format-locale="id"
          auto-apply
          :enable-time-picker="false"
          :dark="theme.darkTheme"
        />
      </div>
    </div>
  </div>
</template>

<script setup>
import { id } from 'date-fns/locale'
import { useThemeStore } from '~/store/global'

const theme = useThemeStore()

const loading = ref(true)

setTimeout(() => {
  loading.value = false
}, 1000)
// DATE VARIABLES
const dateSingle = ref()
const dateRange = ref()
const dateMultipleCal = ref()
const dateOnSelect = ref()
const dateOnly = ref()
const time = ref()
const month = ref()
const multiDates = ref()
const flowDate = ref()
const dateID = ref()

// SOME CONFIG
const flow = ref(['month', 'year', 'calendar'])
// const format = (dateOnly) => {
//   const day = dateOnly.toLocaleString('default', { day: '2-digit' })
//   const month = dateOnly.toLocaleString('default', { month: 'long' })
//   const year = dateOnly.toLocaleString('default', { year: 'numeric' })

//   return `${day}-${month}-${year}`
// }
</script>

<style lang="scss" scoped></style>
