@import '../partials/variables';

$headerHeight : 64px;
$bgHoverNav: lighten($black10, 6%);

.site-header {
  @apply sticky top-0 flex justify-between items-center space-x-1 border-b shadow-md relative;
  height: $headerHeight;
  z-index: 3;
  // overflow-x: hidden;

  .container {
    @apply mx-auto flex flex-wrap items-center justify-between p-1;
  }

  .site-logo {
    @apply text-3xl font-mono;

    img {
      position: relative;
      transform: translate3d(0,0,0);
    }
  }
}

// HEADER NAV COMPONENT
.header-nav {
  display: flex;
  align-items: center;
}

// MAIN NAV COMPONENT
.main-nav > ul {
  display: block;
  position: fixed;
  z-index: 3;
  top: $headerHeight;
  right: 0;
  width: 320px;
  height: calc(100vh - $headerHeight);
  background-color: #fff;
  transform: translateX(100%);
  transition: transform .3s ease;
  
  li {
    position: relative;
  }

  @media #{$large} {
    transform: translateX(0);
    width: auto;
    display: flex;
    position: static;
    height: auto;
  }
}

.main-nav a {
  display: block;
  padding: 1em;
  line-height: 1.2;

  &:hover {
    background-color: $bgHoverNav;
  }
}

.main-nav__item > span a {
  height: $headerHeight;
  display: flex;
  align-items: center;
  
  &.router-link-active {
    color: $primary;
    background-color: $bgHoverNav;
  }
}

.main-nav .parent-nav > span {
  position: relative;

  & > a {
    padding-right: 2em;
  }

  .nav-arrow {
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    right: 0;
    top: 0;
    padding: 1em 0.5em;
    line-height: 1.6;
    width: 100%;
    height: 100%;

    @media (hover: hover) {
      pointer-events: none;
    }
  }
}

.main-nav > ul > li {
  border-bottom: 1px solid rgba($black, 0.05);

  @media #{$large} {
    border-bottom: none;
  }
}

.main-nav {

  .nav-trigger {
    position: relative;
    display: flex;
    width: 42px;
    height: 42px;
    justify-content: center;
    align-items: center;
  }
  
  .nav-trigger span {
    transition: transform .3s ease;
  }

  &.is-active .nav-trigger span {
    transform: rotate(180deg);
  }

  @media #{$large} {
    .nav-trigger {
      display: none;
    }
  }
}

.main-nav.is-active {
  & > ul {
    transform: translateX(0);
    box-shadow: -3px 3px 3px rgba($black, 0.1), 0 50vh 0 50vh rgba($black, 0.1);
  }
}

// SUB NAV
.parent-nav {
  @media (hover: hover) {
    &:hover {
      background-color: $bgHoverNav;
      & > .sub-nav {
        display: block;
      }
    }
  }
}

.sub-nav {
  max-height: 0;
  overflow: hidden;
  transition: max-height .2s ease;
  background-color: #fff;

  li {
    padding-left: 1em;

    @media (hover: hover) {
      padding-left: 0;
    }
  }

  &.is-active {
    max-height: 100vh;
  }

  @media (hover: hover) {
    display: none;
    position: absolute;
    max-height: none;
    overflow: visible;
    box-shadow: 1px 2px 5px rgba($black, 0.2);
    min-width: 160px;

    .sub-nav {
      top: 0;
      left: 100%;
    }

    li:hover {
      & > .sub-nav {
        display: block;
      }
    }
  }
}

// SITE SEARCH COMPONENT
.site-search {
  position: relative;

  label,
  button {
    display: inline-flex;
    width: 52px;
    height: 52px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}

.site-search-fields {
  position: fixed;
  top: $headerHeight;
  left: 50%;
  width: 90%;
  max-width: 440px;
  transform: translate(-50%, 0) scale(0.9);
  opacity: 0;
  transition: transform .3s ease, opacity .3s ease;
  padding: 1em 1.2em;
  background-color: #fff;
  border-radius: .5em;
  pointer-events: none;

  @media #{$medium} {
    max-width: 600px;
  }

  input {
    width: 100%;
    padding-right: calc(52px * 2);
    padding-left: 1em;
    height: 52px;
  }

  button {
    position: absolute;
    right: 1.2em;
  }

  .btn-clear {
    transform: translateX(-100%);
    pointer-events: none;
    opacity: 0;

    &.is-active {
      pointer-events: all;
      opacity: 1;
    }
  }

}

.site-search.is-active {
  z-index: 3;
  
  .site-search-fields {
    transform: translate(-50%, 1em) scale(1);
    opacity: 1;
    box-shadow: 0 0 0 100vh rgba($black, 0.1);
    pointer-events: all;
  }
}

// SWITCH LOCALE
.switch-locale {
  position: relative;
  margin-left: 8px;
}

.btn-switch {
  display: flex;
  align-items: center;
  height: 48px;

  .text-caps {
    width: 2em;
  }
}

.lang-opts {
  opacity: 0;
  position: absolute;
  box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.18);
  pointer-events: none;

  a {
    display: block;
    padding: 6px 8px;
  }

  a:hover {
    background-color: $bgHoverNav;
  }
  
  a.router-link-active {
    background-color: $bgHoverNav;
    color: $primary;
  }
}

.site-header--transparent {
  box-shadow: none;
  .dropdown {
    // background-color: white;
    color: #fff;
  }
}

.is-active .lang-opts {
  opacity: 1;
  pointer-events: all;
}

.is-active .btn-switch {
  background-color: $bgHoverNav;
  color: $primary;
}