<template>
  <main id="main" role="main" class="site-main">
    <div class="container">
      <UtilsBreadCrumbs />
      <h1>{{ $t('myProfile') }}</h1>
      <nuxt-img :src="user?.small_profile_picture" width="60" alt="" />
      <pre><code>{{ user }}</code></pre>
    </div>
  </main>
</template>

<script setup>
defineI18nRoute({
  paths: {
    id: '/pengguna/profil',
    en: '/user/profile'
  }
})
definePageMeta({
  middleware: 'auth'
})

// const { data } = useAuth()
// const token = data.value?.user.jwt

// console.log({ token })

const user = await useFetchAuth('/api/user/profile', {
  query: {
    include: 'userProfile'
  }
})
</script>
