<template>
  <main id="main" role="main" class="site-main">
    <div class="container">
      <UtilsBreadCrumbs />
      <h1 class="mb-4">Hero</h1>
      <HeroV1 :items="hero" />
    </div>

    <HeroV2 :items="hero" />
  </main>
</template>

<script setup>
defineI18nRoute({
  paths: {
    id: '/blok/hero',
    en: '/blocks/heroes',
  },
})

definePageMeta({ auth: false })

const { locale } = useI18n()

// disini pakai useFetch (tanpa proxy), karena kita fetch dari server FE di /server/api/hero.get.ts
const { data: hero } = await useFetch('/api/hero', {
  query: { locale },
})
</script>
