<template>
  <main id="main" role="main" class="site-main">
    <div class="container">
      <UtilsBreadCrumbs />
      <h1>List Cards</h1>
    </div>
  </main>
</template>

<script setup>
defineI18nRoute({
  paths: {
    id: '/blok/list-card',
    en: '/blocks/list-cards',
  },
})
definePageMeta({ auth: false })
</script>
