<template>
  <main id="main" role="main" class="site-main">
    <div class="container">
      <h1>{{ pageTitle }}</h1>
      <!-- <pre><code></code></pre> -->
      <div v-html="content.content"></div>
    </div>
  </main>
</template>

<script setup>
const route = useRoute()
const slug = route.params.slug
const path = '/api/strapi/contents/' + slug

const { data: content } = await useFetch(path, {
  query: {
    'filters[$and][0][layout][$eq]': 'article',
    populate:
      'image,layout_component,layout_component.type,expertices.expertice_category,article_industries,seo.image'
  },
  transform: response => {
    const dataAttr = response.data.attributes
    const res = {
      title: dataAttr.title,
      content: dataAttr.layout_component[0].content
    }

    return res
  }
})

const pageTitle = content.value.title

useHead({
  title: pageTitle
})
</script>
