<template>
  <main id="main" role="main" class="site-main">
    <div class="container">
      <h1>Ideas</h1>
      <v-select
        v-model="selectSort"
        class="w-1/3 my-4"
        :clearable="false"
        :options="[
          {
            label: 'Latest',
            value: defaultSort
          },
          {
            label: 'Oldest',
            value: 'publish_at:asc'
          }
        ]"
        @update:model-value="onSort"
      >
      </v-select>
      <h3 v-if="isLoading">Pending {{ isLoading }}</h3>
      <template v-else>
        <div
          class="cards grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-4 mb-5"
        >
          <div
            v-for="(idea, i) in ideas.data"
            :key="i"
            class="cards__item p-4 rounded mr-2 border-[2px] border-green-700"
          >
            <NuxtLink :to="`/${locale}/ideas/${idea.attributes?.slug}`">
              <div class="cards__img mb-2">
                <img
                  :key="`img${i}`"
                  :src="
                    idea.attributes?.image?.data.attributes.formats.small?.url
                  "
                  loading="lazy"
                  alt=""
                  class="mb-0"
                />
              </div>
              <h6 class="mb-0 font-bold">
                {{ idea.attributes?.title }} {{ locale }}
              </h6>
              <small>{{
                idea.attributes?.layout_component?.[0]?.description
              }}</small>
            </NuxtLink>
          </div>
        </div>
        <!-- end cards -->
        <pagination
          :total-pages="ideas.meta.pagination.pageCount"
          :total-items="ideas.meta.pagination.total"
          :current-page="ideas.meta.pagination.page"
          @pagechanged="toPage"
        />
        <!-- end pagination -->
        <!-- <pre><code>{{ ideas.data }}</code></pre> -->
      </template>
    </div>
  </main>
</template>

<script setup>
useHead({
  title: 'Ideas'
})
const { locale } = useI18n()
const router = useRouter()
const route = useRoute()
const defaultSort = 'publish_at:desc'

const queries = {
  page: ref(1),
  sort: ref(defaultSort)
}

const selectSort = ref({ label: 'Latest', value: defaultSort })

const ideas = ref({})

const isLoading = ref(true)

const articlesQuery = ref({
  'pagination[page]': queries.page,
  'pagination[pageSize]': 12,
  'populate[0]':
    'image,layout_component,layout_component.type,expertices,article_industries',
  'filters[$and][0][layout][$eq]': 'article',
  'sort[0]': queries.sort,
  'sort[1]': 'id:desc'
})

const getIdeas = async () => {
  isLoading.value = true
  const rQ = route.query
  const page = rQ.p === undefined ? 1 : rQ.p
  const sort = rQ.s === undefined ? defaultSort : rQ.s

  queries.page.value = page
  queries.sort.value = sort

  const { data, error, pending } = await useFetchIdeas({
    query: articlesQuery.value
  })
  // const { data, error, pending } = await useFetchIdeas({
  //   query: articlesQuery.value
  // })

  isLoading.value = pending.value
  ideas.value = data.value

  if (error.value) {
    throw createError({
      statusCode: 404,
      message: `Ideas does not exist`
    })
  }
}

const pushQuery = () => {
  const currentPage = queries.page.value
  const selectedSort = queries.sort.value

  router.push({
    query: {
      p: currentPage,
      s: selectedSort
    }
  })
}

const toPage = currentPage => {
  queries.page.value = currentPage

  pushQuery()
}

const onSort = () => {
  queries.page.value = 1
  queries.sort.value = selectSort.value.value
  pushQuery()
}

await getIdeas()

watch(
  () => route.query,
  () => {
    getIdeas()
  }
)
</script>

<style lang="scss" scoped>
.cards__item {
  line-height: 1.4;

  a,
  img {
    display: block;
  }
}

.cards__img {
  aspect-ratio: 16 / 9;
  background-color: $black10;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
</style>
