<template>
  <main id="main" role="main" class="site-main">
    <div class="container">
      <h1 class="text-center mb-8">Login {{ status }}</h1>

      <form class="mx-auto max-w-96" @submit.prevent="signMeIn">
        <div class="mb-8">
          <label for="userEmail">Email</label><br />
          <input
            id="userEmail"
            v-model.trim="identifier"
            type="text"
            class="form-input w-full"
          />
        </div>
        <div class="mb-8">
          <label for="passWord">Password</label><br />
          <input
            id="passWord"
            v-model.trim="password"
            type="password"
            class="form-input w-full"
          />
        </div>
        <button
          class="btn btn-primary w-full"
          type="submit"
          :disabled="isLoading"
        >
          Login
        </button>
        <p class="text-gray-500 mt-6 mb-3 text-center">OR WITH</p>

        <div class="flex flex-col gap-2">
          <button class="btn btn-slate-outline" @click="signIn('google')">
            <img
              src="/assets/img/google-icon.png"
              width="16"
              height="19"
              alt=""
              class="mr-2"
            />
            <span>Log in with Google</span>
          </button>
        </div>
      </form>
    </div>
  </main>
</template>

<script setup>
import { useSnackbar } from 'vue3-snackbar'
defineI18nRoute({
  paths: {
    id: '/masuk',
    en: '/login',
  },
})

definePageMeta({
  auth: {
    unauthenticatedOnly: true,
    navigateAuthenticatedTo: '/',
  },
})
const snackbar = useSnackbar()
const { signIn, status } = useAuth()
const isLoading = ref(false)

const route = useRoute()
const rtConfig = useRuntimeConfig()
const host = rtConfig.public.BASE_URL
const routeCallBack = route.query?.callbackUrl

const redirectTo = ref('/')

if (routeCallBack !== undefined) {
  redirectTo.value = routeCallBack.replace(host, '')
}

const identifier = ref('usertesting@email.com')
const password = ref('password')

async function signMeIn() {
  isLoading.value = true

  await signIn('credentials', {
    email: identifier.value,
    password: password.value,
    callbackUrl: redirectTo.value,
    redirect: false, // set ke false untuk di network, apakah proses authnya berjalan atau gak, biasanya di /callbacks/credentials
  })

  const authenticated = status.value === 'authenticated'

  if (!authenticated) {
    isLoading.value = false

    snackbar.add({
      type: 'warning',
      text: `You are ${status.value}, please...`,
    })
  } else {
    snackbar.add({
      type: 'success',
      text: `You are ${status.value}, please...`,
    })
    navigateTo(redirectTo.value, { external: true })
  }
}
</script>
