<template>
  <div>
    <pre><code>{{ ide }}</code></pre>
  </div>
</template>

<script setup>
defineI18nRoute({
  paths: {
    id: '/tes',
    en: '/test'
  }
})
definePageMeta({ auth: false })

const ide = useSuitapiData(
  '/ideas?page[number]=1&page[size]=10&append[]=small_image&append[]=medium_image&sort=-published_at'
)
</script>
