<template>
  <main id="main" role="main" class="site-main">
    <div class="container">
      <UtilsBreadCrumbs />
      <h1>Button</h1>
      <div class="flex align-center">
        <NuxtLinkLocale to="/" class="btn btn-primary">
          <span>Button Primary</span>
        </NuxtLinkLocale>
        <NuxtLinkLocale href="/" class="btn btn-primary-outline">
          <span>Primary</span>
        </NuxtLinkLocale>
        <NuxtLinkLocale href="/" class="btn btn-secondary">
          <span>Secondary</span>
        </NuxtLinkLocale>
        <NuxtLinkLocale href="/" class="btn btn-secondary-outline">
          <NuxtIcon name="icon-facebook" class="mr-1 inline-block" />
          <span>Secondary</span>
        </NuxtLinkLocale>

        <NuxtLinkLocale to="/" class="btn btn-primary">
          <NuxtIcon name="icon-facebook" class="mr-1" />
          <span>Button Primary</span>
        </NuxtLinkLocale>
      </div>
    </div>
  </main>
</template>

<script setup>
defineI18nRoute({
  paths: {
    id: '/komponen/button',
    en: '/components/buttons',
  },
})
definePageMeta({ auth: false })
</script>
