<template>
  <main id="main" role="main" class="site-main">
    <div class="container">
      <UtilsBreadCrumbs />
      <h1>Cards</h1>

      <Cards :items="items" class="grid gap-6 md:grid-cols-3 lg:grid-cols-4" />
    </div>
  </main>
</template>

<script setup>
defineI18nRoute({
  paths: {
    id: '/komponen/card',
    en: '/components/cards',
  },
})
definePageMeta({ auth: false })

const items = [
  {
    title: 'Judul Berita pada Suatu Website Pada Umumnya',
    description:
      'This is a section of some simple filler text, also known as placeholder text. It shares some characteristics of a real written text.',
    image: 'https://placehold.co/600x400',
    slug: '/',
    date: '2024-12-10 00:00:00',
    tags: [
      {
        title: 'News',
      },
    ],
  },
  {
    title: 'Judul Berita pada Suatu Website Pada Umumnya',
    description:
      'This is a section of some simple filler text, also known as placeholder text. It shares some characteristics of a real written text.',
    image: 'https://placehold.co/600x400',
    slug: '/',
    date: '2024-12-10 00:00:00',
    tags: [
      {
        title: 'News',
      },
    ],
  },
  {
    title: 'Judul Berita pada Suatu Website Pada Umumnya',
    description:
      'This is a section of some simple filler text, also known as placeholder text. It shares some characteristics of a real written text.',
    image: 'https://placehold.co/600x400',
    slug: '/',
    date: '2024-12-10 00:00:00',
    tags: [
      {
        title: 'News',
      },
    ],
  },
  {
    title: 'Judul Berita pada Suatu Website Pada Umumnya',
    description:
      'This is a section of some simple filler text, also known as placeholder text. It shares some characteristics of a real written text.',
    image: 'https://placehold.co/600x400',
    slug: '/',
    date: '2024-12-10 00:00:00',
    tags: [
      {
        title: 'News',
      },
    ],
  },
]
</script>
