<template>
  <main id="main" role="main" class="site-main">
    <div class="container">
      <UtilsBreadCrumbs />
      <h1>Colors</h1>
      <div class="flex mb-4">
        <div class="p-1 bg-primary-50">50</div>
        <div class="p-1 bg-primary-100">100</div>
        <div class="p-1 bg-primary-150">150</div>
        <div class="p-1 bg-primary-200">200</div>
        <div class="p-1 bg-primary-300">300</div>
        <div class="p-1 bg-primary-400">400</div>
        <div class="p-1 bg-primary-500">500</div>
        <div class="p-1 bg-primary-600">600</div>
        <div class="p-1 bg-primary-700">700</div>
      </div>
      <div class="flex mb-4">
        <div class="p-1 bg-secondary-50">50</div>
        <div class="p-1 bg-secondary-100">100</div>
        <div class="p-1 bg-secondary-150">150</div>
        <div class="p-1 bg-secondary-200">200</div>
        <div class="p-1 bg-secondary-300">300</div>
        <div class="p-1 bg-secondary-400">400</div>
        <div class="p-1 bg-secondary-500">500</div>
        <div class="p-1 bg-secondary-600">600</div>
        <div class="p-1 bg-secondary-700">700</div>
        <!-- <div class="p-1 bg-secondary-800">800</div>
        <div class="p-1 bg-secondary-900">900</div> -->
      </div>
    </div>
  </main>
</template>

<script setup>
defineI18nRoute({
  paths: {
    id: '/komponen/warna',
    en: '/components/colors',
  },
})
definePageMeta({ auth: false })
</script>
