<template>
  <main id="main" role="main" class="site-main">
    <div class="container">
      <UtilsBreadCrumbs />
      <div class="mb-8">
        <h1>Flash Notif</h1>
        Packages:
        <div class="prose">
          <ul>
            <li>
              <a
                href="https://nuxt.com/modules/snackbar"
                target="_blank"
                rel="noopener noreferrer"
              >
                https://nuxt.com/modules/snackbar
              </a>
            </li>
            <li>
              <a
                href="https://evomark.co.uk/open-source-software/vue3-snackbar/"
                target="_blank"
                rel="noopener noreferrer"
              >
                https://evomark.co.uk/open-source-software/vue3-snackbar/
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="mb-2">
        <button class="btn btn-primary" @click.prevent="successNotif">
          Show Success Notif
        </button>
      </div>
      <div class="mb-2">
        <button class="btn btn-primary" @click.prevent="warningNotif">
          Show Warning Notif
        </button>
      </div>
      <div class="mb-2">
        <button class="btn btn-primary" @click.prevent="errorNotif">
          Show Error Notif
        </button>
      </div>
    </div>
  </main>
</template>

<script setup>
import { useSnackbar } from 'vue3-snackbar'
const snackbar = useSnackbar()

defineI18nRoute({
  paths: {
    id: '/komponen/flash-notif',
    en: '/components/flash-notif',
  },
})
definePageMeta({ auth: false })

const successNotif = () => {
  snackbar.add({
    type: 'success',
    text: `Success submitting`,
  })
}
const warningNotif = () => {
  snackbar.add({
    type: 'warning',
    text: `Warning submitting`,
  })
}
const errorNotif = () => {
  snackbar.add({
    type: 'error',
    text: `Error submitting`,
  })
}
</script>
