<template>
  <main id="main" role="main" class="site-main">
    <div class="container">
      <UtilsBreadCrumbs />
      <h1>Forms</h1>

      <form @submit.prevent="handleForm">
        <div class="md:grid md:grid-cols-2 md:gap-6">
          <div class="mb-6">
            <label for="firstName" class="block mb-1">
              First Name
              <span class="text-red">*</span>
            </label>
            <input
              id="firstName"
              type="text"
              class="form-input w-full"
              required
            />
          </div>
          <div class="mb-6">
            <label for="lastName" class="block mb-1">
              Last Name
              <span class="text-red">*</span>
            </label>
            <input
              id="lastName"
              type="text"
              class="form-input w-full"
              required
            />
          </div>
        </div>

        <div class="mb-6">
          <label for="formSelect" class="block mb-1">
            Name
            <span class="text-red">*</span>
          </label>
          <select
            id="formSelect"
            type="text"
            class="form-input w-full"
            required
          >
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
          </select>
        </div>
      </form>
    </div>
  </main>
</template>

<script setup>
import { useSnackbar } from 'vue3-snackbar'
const snackbar = useSnackbar()

defineI18nRoute({
  paths: {
    id: '/komponen/form',
    en: '/components/forms',
  },
})
definePageMeta({ auth: false })

const handleForm = () => {
  snackbar.add({
    type: 'success',
    text: `Success submitting`,
  })
}
</script>
