<template>
  <main id="main" role="main" class="site-main">
    <div class="container">
      <UtilsBreadCrumbs />
      <h1>Tabs</h1>
      <Tabs :navs="navs" :current-nav="currentNav" @selected="selectTab" />
      <div>
        <pre><code>{{ navs[currentNav] }}</code></pre>
      </div>
    </div>
  </main>
</template>

<script setup>
defineI18nRoute({
  paths: {
    id: '/komponen/tab',
    en: '/components/tabs',
  },
})
definePageMeta({ auth: false })

const navs = [
  {
    title: 'Files',
    slug: 'files',
  },
  {
    title: 'Links',
    slug: 'links',
  },
  {
    title: 'Messages',
    slug: 'messages',
  },
  {
    title: 'Notebooks',
    slug: 'notebooks',
  },
  {
    title: 'Table',
    slug: 'table',
  },
  {
    title: 'Gants',
    slug: 'gants',
  },
  {
    title: 'People',
    slug: 'people',
  },
]

const currentNav = ref(0)

function selectTab(i) {
  currentNav.value = i
}
</script>
